<style>
    body {
        padding: 20px 40px 0 40px;
    }

    .createAndFilter {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .news_list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .new {
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 200px;
        border-radius: 5px;
        padding: 20px;
        background: rgb(245, 245, 245);
        overflow: hidden;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        border-top: 1px solid lightgray;
    }

    footer a {
        font-size: 18px;
        font-weight: bold;
        color: rgb(192, 50, 50);
    }

    footer a:hover {
        color: rgb(255, 0, 0);
    }

    @media only screen and (max-width: 600px) {
        .news_list {
            grid-template-columns: repeat(1, 1fr);
        }

        .subscribe {
            width: 100%;
        }
}
        
</style>

<app-header></app-header>

<body>
    <div class="createAndFilter">
        <button mat-raised-button color="primary" class="w-40" (click)="create_news()">Creer un
            article</button>
        <a href style="font-weight: bold;">Trier par</a>
    </div>

    <div class="news_list">
        <div class="new" *ngFor="let number of [0,1,2,3]">
            <span style="font-weight: bold;font-size: 16px;">Titre de
                l'article</span>
            <div
                style="display: flex;justify-content: space-between;margin-right: 50%;">
                <span>Date :</span>
                <span>Auteur :</span>
            </div>
            <span style="text-align: justify;overflow: hidden;">Lorem ipsum dolor sit, amet consectetur adipisicing
                elit. Sequi ipsam magni ad exercitationem. Maxime molestias
                optio, atque itaque iste neque quasi aut quidem at
                exercitationem enim temporibus quo deleniti et.</span>
            <button mat-raised-button color="primary" class="w-40 subscribe">Consulter l'article</button>

        </div>

    </div>
</body>

<footer>
    <a href="/">Se deconnecter</a>
</footer>