<mat-card>
    <mat-card-header fxLayoutAlign="center center">
        <mat-card-title>Créer un nouvel article</mat-card-title>
    </mat-card-header>
    <form class="login-form" [formGroup]="form" (ngSubmit)="submit()">
        <mat-card-content fxLayout="column">
            <mat-form-field>
                <mat-label>Topic</mat-label>
                <mat-select MatInputModule placeholder="Topic" formControlName="topic_id">
                    <mat-option *ngFor="let topic of topics" value="{{ topic.id }}">{{ topic.name }}</mat-option>
                </mat-select>   
            </mat-form-field>
            <mat-form-field fxFlex>
                <mat-label>Titre de l'article</mat-label>
                <input matInput formControlName="title">
            </mat-form-field>
            <mat-form-field fxFlex>
                <mat-label>Contenu de l'article</mat-label>
                <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
        </mat-card-content>
        <button mat-raised-button color="primary" class="validate" type="submit" [disabled]="form.invalid" style="width: 400px;">Créer</button>
        <p *ngIf="onError" class="error">An error occurred</p>
    </form>
</mat-card>